#profile-photo{
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#introduction{
    background-image: url("../Projects/Portfolio Website/Images/title background scenery.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#introduction > div > div > p{
    color: #E3FEF7;
}

#introduction > div > h1{
    color: #003C43 !important;
}

#skills, #projects {
    background-color:  #f8f9fa !important;
    backdrop-filter: blur(100px) !important;
}